/* 
=======================================================
START: Article
=======================================================
*/
.av-article-v1{
    padding: 5rem 0rem;
}

.av-article-v1 div{
    display: grid;
    grid-template-columns: .8fr 1fr;
    align-items: center;
    column-gap: 2rem;
}

.columns-reverse div {
    grid-template-columns: 1fr .8fr ;
}

.columns-reverse div figure{
    grid-column-start: 1;
    grid-row-start: 1;
}