/* 
=======================================================
START: RESPONSIVE
=======================================================
*/

@media (min-width: 1600px){
   
}

@media (max-width: 950px){
    .container{
        width: 95%;
    }
}

@media (max-width: 897px){
    /* global */
    .av-padding-2x{
        padding: 7rem 0rem !important;
    }

    .av-header-v1{
        padding: 1.1rem 0rem;
    }

    .av-header-v1 figure{
        max-width: 90px;
    }

    .av-header-v1 article{
        grid-template-columns: max-content max-content;
    }
    .av-header-v1 article nav{
        display: none;
    }

    .av-header-v1 article section{
        display: none;
    }

    .av-header-v1 article menu{
        display: flex;
    }

    /* util */
    h2{
        font-size: 1.9rem !important;
    }

    /* articles */

    .av-article-v1 {
        padding: 3rem 0rem;
    }
    .av-article-v1 div:nth-child(1){
        grid-template-columns: 1fr;
    }

    .av-article-v1 div:nth-child(1) figure{
        grid-column-start: 1;
        grid-row-start: 1;
        margin-bottom: 3rem;
    }

    .columns-reverse div:nth-child(1){
        grid-template-columns: 1fr;
    }

    .columns-reverse div:nth-child(1) section{
        padding-left: 0rem;
    }

    
}

/* 
=======================================================
END
=======================================================
*/