.sp div section h2{
    position: relative;
    padding-bottom: .5rem;
    max-width: 390px;
}

.sp div section h2::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 40px;
    height: 5px;
    background: var(--tertiary-color);
}

.sp div figure{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.sp div figure img{
    width: 98%;
    
}

.sp div figure img,
.sp div figure::before,
.sp div figure::after{
    box-shadow: 0px 15px 40px -10px #3b476c46
}

.sp div figure::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 25%;
    height: 35%;
    background: var(--tertiary-color);
    z-index: -1;
}

.sp div figure::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 50%;
    height: 60%;
    background: var(--secondary-color);
    /* border: 15px solid var(--secondary-color); */
    z-index: -1;
}