.sp div section h2{
    position: relative;
    padding-bottom: .5rem;
}

.sp div section h2::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 40px;
    height: 5px;
    background: var(--tertiary-color);
}

.center-content div section h2::before{
    right: 0;
    margin: auto;
}

.sp.design div figure{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0rem;
}

.sp.design div figure img{
    width: 90%;
}

.sp.design div figure img,
.sp.design div figure::before,
.sp.design div figure::after{
    border-radius: 5px;
    box-shadow:-15px 50px 50px -30px #4264889c
}

.sp.design div figure::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 25%;
    height: 35%;
    background: var(--tertiary-color);
    z-index: -1;
}

.sp.design div figure::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 50%;
    height: 60%;
    background: var(--secondary-color);
    /* border: 15px solid var(--secondary-color); */
    z-index: -1;
}

.sp.column-3x div section i{
    font-size: 1.5rem;
    padding: .8rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.sp.column-3x div section:nth-of-type(1) i{
    color: #FFD212;
    background: #FFD2123D;
}

.sp.column-3x div section:nth-of-type(2) i{
    color: #2c2eff;
    background: #127AFF3D;
}

.sp.column-3x div section:nth-of-type(3) i{
    color: #FF4C45;
    background: #FF12123D;
}

.sp-footer div section h4{
    margin-bottom: 1rem;
}

.sp-footer div section ul li{
    margin-bottom: 1rem;
}


.sp-footer div section figure{
    margin-left: 3rem;
    margin-top: 2rem;
}


.sp-footer div section figure img{
    box-shadow: none;
}

.sp form fieldset label{
    display: none;
}

.who-we-are div{
    grid-template-columns: 1.3fr 1fr !important;
}

.who-we-are div section p{
    max-width: 500px;
}

.the-team div:nth-child(1){
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.the-team section:nth-child(2),
.the-team section:nth-child(1)
{
    grid-column: 1 / 3;
    justify-self: center;
}

.the-team div section figure{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 1rem;
}

.the-team div section h5{
    font-weight: 400;
    color: inherit;
    margin-top: 1rem;
    color: var(--main-color);
}

.the-team div section h3{
    font-size: 1.3rem;
}


